

.navbar {
    background: white !important;
}

.jumbotron {
    color: white;
    background: rgb(15, 20, 88);
}

.footerlogo {
    align-items: center;
    align-items: center;
}


.card {
    margin-top: 10px;
}

.card-deck {
    margin-top: 10px;
}

.card-text {
    text-align: center;
}

.icon {
    margin-top: 10px;
    margin-right: 15px;
    }

.footerlogo {
    margin-top: 20px;
}

.iconf {
     float: right;
     margin-right: 15px;
}
       
footer {
    font-size: 15px;
    color: rgb(206, 14, 14);
    margin: 50px;
    text-align: center
}

.card-text {
    text-align: left;
}